  
<% if user_signed_in?%>  
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td> <%= link_to friend.first_name + " " + friend.last_name, friend, class:"btn btn-link"%></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to 'Edit', edit_friend_path(friend), class:"btn btn-outline-secondary btn-sm" %></td>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm"%></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary"%>
<% else %>
  <h1> Welcome to FriendLog! </h1>
  <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-secondary" %>
  <%= link_to "Sign In", new_user_session_path, class:"btn btn-outline-secondary" %>
<% end %>